<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/lists/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <%= list.title %>
      <a href="/lists/<%= list._id %>/edit">
        <button>✏️</button>
      </a>
    </div>
  </section>
  <h2>Grocery Items</h2>
  <form 
  id="add-grocery-form"
  action="/lists/<%= list._id %>/groceries"
  method="POST"
  >
  <label for="content-input">Grocery:</label>
    <input name="content" id="content-input"></input>
    <label for="grocery-input">Quantity:</label>
    <input name="grocery" required pattern="[1-99]\d?">
    <button type="submit">Add Grocery</button>
  </form>

</form>
</main>
  
<%- include('../partials/footer') %>