<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/lists/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <%= list.title %>
      <a href="/lists/<%= list._id %>/edit">
        <button>✏️</button>
      </a>
    </div>
  </section>
  <h2></h2>
  <form 
  id="add-grocery-form"
  action="/lists/<%= list._id %>/groceries"
  method="POST"
  >
  <label for="content-input">Grocery:</label>
    <input name="content" id="content-input"></input>
    <label for="quantity-input">Quantity:</label>
    <input name="quantity" required pattern="[1-99]\d?">
    <button type="submit">Add Grocery</button>
  </form>
  <% if (list.groceries.length) { %>
    <table>
      <thead>
        <tr>
          <th>Grocery</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% list.groceries.forEach(function(grocery) { %>
          <tr>
            <td>
              <input type="checkbox" name="checked" id="checked-checkbox"><%= grocery.content %>
            </td>
            <td><%= grocery.quantity%></td>
            <td>
              <form 
                action="/lists/<%= list._id %>/groceries/<%= grocery._id %>?_method=DELETE" 
                method="POST"
              >
                <button>🗑️</button>
              </form>
            </td>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Groceries Yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>