<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/lists/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>List Name: </div>
    <div><%= list.title %></div>
  </section>
</main>
  
<%- include('../partials/footer') %>