<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1> <%= user ? user.profile.name : "" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %>
    <div class="container">
      Welcome to ShopSmart! Please make sure to sign in with your Google account to make your list and keep track of what you need.
    </div>
</main>

<%- include('./partials/footer') %>
